# System-Dateien
.DS_Store
Thumbs.db
.Trash-0/

# Python & Umgebung
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Daten-Management
## Ignoriere alle Dateien in diesen Ordnern
data/backups/**
data/interim/**
data/processed/**
data/raw/**

## Erlaube aber die .gitkeep Dateien, damit die Ordner auf GitHub existieren
!data/**/.gitkeep

## Erlaube Ornder in data/raw, damit Ausnahmen greifen
!data/raw/**/

## Erlaube explizit CSV-Dateien in allen Unterordnern
!data/**/*.csv

# Modelle sicher hochladen
!models/*.json
!models/*.txt

# Docker
.dockerignore



